:root {
  --nhl-black: #010101;
  --nhl-white: #ffffff;
  --njd-1-primary: #c8102e;
  --njd-1-secondary: var(--nhl-black);
  --njd-1-tertiary: var(--nhl-white);
  --nyi-2-primary: #003087;
  --nyi-2-secondary: #fc4c02;
  --nyi-2-tertiary: var(--nhl-white);
  --nyr-3-primary: #0033a0;
  --nyr-3-secondary: #c8102e;
  --nyr-3-tertiary: var(--nhl-white);
  --phi-4-primary: #fa4616;
  --phi-4-secondary: var(--nhl-black);
  --phi-4-tertiary: var(--nhl-white);
  --pit-5-primary: #ffb81c;
  --pit-5-secondary: var(--nhl-black);
  --pit-5-tertiary: var(--nhl-white);
  --bos-6-primary: #ffb81c;
  --bos-6-secondary: var(--nhl-black);
  --bos-6-tertiary: var(--nhl-white);
  --buf-7-primary: #003087;
  --buf-7-secondary: #ffb81c;
  --buf-7-tertiary: var(--nhl-white);
  --mtl-8-primary: #a6192e;
  --mtl-8-seconary: #001e62;
  --mtl-8-tertiary: var(--nhl-white);
  --ott-9-primary: #b9975b;
  --ott-9-secondary: #c8102e;
  --ott-9-tertiary: var(--nhl-black);
  --tor-10-primary: #00205b;
  --tor-10-secondary: var(--nhl-white);
  --tor-10-tertiary: #00205b;
}

.img-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

.pill-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 50px;
}

.ice {
  background-color: #1eacdd;
  color: white;
}

.score {
  position: absolute;
  right: 0;
  margin-right: 2vw;
}

.center-y {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-xy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo-xs {
  max-width: 75px;
}

.logo-sm {
  max-width: 100px;
}

.logo-md {
  max-width: 175px;
}

.logo-lg {
  max-width: 225px;
}

.remove-margin {
  margin: 0;
}

.align-text-right {
  text-align: right;
}

.align-text-center {
  text-align: center;
}

.border-NJD {
  border-color: var(--njd-1-primary);
}
