:root {
  --nhl-black: #010101;
  --nhl-white: #ffffff;
  --NJD-1-primary: #c8102e;
  --NJD-1-secondary: var(--nhl-black);
  --NJD-1-tertiary: var(--nhl-white);
  --NYI-2-primary: #003087;
  --NYI-2-secondary: #fc4c02;
  --NYI-2-tertiary: var(--nhl-white);
  --NYR-3-primary: #0033a0;
  --NYR-3-secondary: #c8102e;
  --NYR-3-tertiary: var(--nhl-white);
  --PHI-4-primary: #fa4616;
  --PHI-4-secondary: var(--nhl-black);
  --PHI-4-tertiary: var(--nhl-white);
  --PIT-5-primary: #ffb81c;
  --PIT-5-secondary: var(--nhl-black);
  --PIT-5-tertiary: var(--nhl-white);
  --BOS-6-primary: #ffb81c;
  --BOS-6-secondary: var(--nhl-black);
  --BOS-6-tertiary: var(--nhl-white);
  --BUF-7-primary: #003087;
  --BUF-7-secondary: #ffb81c;
  --BUF-7-tertiary: var(--nhl-white);
  --MTL-8-primary: #a6192e;
  --MTL-8-seconary: #001e62;
  --MTL-8-tertiary: var(--nhl-white);
  --OTT-9-primary: #b9975b;
  --OTT-9-secondary: #c8102e;
  --OTT-9-tertiary: var(--nhl-black);
  --TOR-10-primary: #00205b;
  --TOR-10-secondary: var(--nhl-white);
  --TOR-10-tertiary: #00205b;
  --CAR-12-primary: #c8102e;
  --CAR-12-secondary: var(--nhl-black);
  --CAR-12-tertiary: var(--nhl-white);
  --FLA-13-primary: #b9975b;
  --FLA-13-secondary: #041e42;
  --FLA-13-tertiary: #c8102e;
  --TBL-14-primary: #00205b;
  --TBL-14-secondary: var(--nhl-white);
  --TBL-14-tertiary: #00205b;
  --WSH-15-primary: #041e42;
  --WSH-15-secondary: #c8102e;
  --WSH-15-tertiary: var(--nhl-white);
  --CHI-16-primary: #c8102e;
  --CHI-16-secondary: var(--nhl-black);
  --CHI-16-tertiary: var(--nhl-white);
  --DET-17-primary: #c8102e;
  --DET-17-secondary: var(--nhl-white);
  --DET-17-tertiary: #c8102e;
  --NSH-18-primary: #ffb81c;
  --NSH-18-secondary: #041e42;
  --NSH-18-tertiary: var(--nhl-white);
  --STL-19-primary: #003087;
  --STL-19-secondary: #ffb81c;
  --STL-19-tertiary: var(--nhl-white);
  --CGY-20-primary: #c8102e;
  --CGY-20-secondary: #f1be48;
  --CGY-20-tertiary: var(--nhl-black);
  --VAN-23-primary: #041c2c;
  --VAN-23-secondary: #00205b;
  --VAN-23-tertiary: #97999b;
  --ANA-24-primary: #b9975b;
  --ANA-24-secondary: #fc4c02;
  --ANA-24-tertiary: var(--nhl-black);
  --DAL-25-primary: #006341;
  --DAL-25-secondary: #a2aaad;
  --DAL-25-tertiary: var(--nhl-black);
  --LAK-26-primary: #000000;
  --LAK-26-secondary: #a2aaad;
  --LAK-26-tertiary: var(--nhl-white);
  --SJS-28-primary: #006272;
  --SJS-28-secondary: #e57200;
  --SJS-28-tertiary: var(--nhl-black);
  --CBJ-29-primary: #041e42;
  --CBJ-29-secondary: #c8102e;
  --CBJ-29-tertiary: var(--nhl-white);
  --MIN-30-primary: #154734;
  --MIN-30-secondary: #a6192e;
  --MIN-30-tertiary: #eaaa00;
  --WPG-52-primary: #041e42;
  --WPG-52-secondary: #a2aaad;
  --WPG-52-tertiary: #a6192e;
  --ARI-53-primary: #862633;
  --ARI-53-secondary: #ddcba4;
  --ARI-53-tertiary: var(--nhl-black);
  --VGK-54-primary: #b9975b;
  --VGK-54-secondary: var(--nhl-black);
  --VGK-54-tertiary: #333f48;
}

.img-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

.pill-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 50px;
}

.ice {
  background-color: #1eacdd;
  color: white;
}

.score {
  position: absolute;
  right: 0;
  margin-right: 2vw;
}

.center-y {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-xy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo-xs {
  max-width: 75px;
}

.logo-sm {
  max-width: 100px;
}

.logo-md {
  max-width: 175px;
}

.logo-lg {
  max-width: 225px;
}

.remove-margin {
  margin: 0;
}

.align-text-right {
  text-align: right;
}

.align-text-center {
  text-align: center;
}

.border-NJD {
  border-color: var(--NJD-1-primary);
}

.border-NYI {
  border-color: var(--NYI-2-primary);
}

.border-NYR {
  border-color: var(--NYR-3-primary);
}

.border-PHI {
  border-color: var(--PHI-4-primary);
}

.border-PIT {
  border-color: var(--PIT-5-primary);
}

.border-BOS {
  border-color: var(--BOS-6-primary);
}

.border-BUF {
  border-color: var(--BUF-7-primary);
}

.border-MTL {
  border-color: var(--MTL-8-primary);
}

.border-OTT {
  border-color: var(--OTT-9-primary);
}

.border-TOR {
  border-color: var(--TOR-10-primary);
}

.border-CAR {
  border-color: var(--CAR-12-primary);
}

.border-FLA {
  border-color: var(--FLA-13-primary);
}

.border-TBL {
  border-color: var(--TBL-14-primary);
}

.border-WSH {
  border-color: var(--WSH-15-primary);
}

.border-CHI {
  border-color: var(--CHI-16-primary);
}

.border-DET {
  border-color: var(--DET-17-primary);
}

.border-NSH {
  border-color: var(--NSH-18-primary);
}

.border-STL {
  border-color: var(--STL-19-primary);
}

.border-CGY {
  border-color: var(--CGY-20-primary);
}

.border-VAN {
  border-color: var(--VAN-23-primary);
}

.border-ANA {
  border-color: var(--ANA-24-primary);
}

.border-DAL {
  border-color: var(--DAL-25-primary);
}

.border-LAK {
  border-color: var(--LAK-26-primary);
}

.border-SJS {
  border-color: var(--SJS-28-primary);
}

.border-CBJ {
  border-color: var(--CBJ-29-primary);
}

.border-MIN {
  border-color: var(--MIN-30-primary);
}

.border-WPG {
  border-color: var(--WPG-52-primary);
}

.border-ARI {
  border-color: var(--ARI-53-primary);
}

.border-VGK {
  border-color: var(--VGK-54-primary);
}
