:root {
  --njd-1-primary: #c9142c;
  --njd-1-secondary: #0a0708;
  --njd-1-tertiary: #d0d0d0;
}

.img-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

.pill-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 50px;
}

.ice {
  background-color: #1eacdd;
  color: white;
}

.score {
  position: absolute;
  right: 0;
  margin-right: 2vw;
}

.center-y {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-xy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo-xs {
  max-width: 75px;
}

.logo-sm {
  max-width: 100px;
}

.logo-md {
  max-width: 175px;
}

.logo-lg {
  max-width: 225px;
}

.remove-margin {
  margin: 0;
}

.align-text-right {
  text-align: right;
}

.align-text-center {
  text-align: center;
}

.border-NJD {
  border-color: var(--njd-1-primary);
}
